* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-fin-est.est-fin.lrx -text
/apertium-fin-est.est-fin.rlx -text
/apertium-fin-est.est-fin.t1x -text
/apertium-fin-est.est-fin.t2x -text
/apertium-fin-est.est-fin.t3x -text
/apertium-fin-est.fin-est.dix -text
/apertium-fin-est.fin-est.lrx -text
/apertium-fin-est.fin-est.t1x -text
/apertium-fin-est.fin-est.t2x -text
/apertium-fin-est.fin-est.t3x -text
/autogen.sh -text
/configure.ac -text
dev/bidix/reliable.fin-est.adj -text
dev/bidix/reliable.fin-est.adv -text
dev/bidix/reliable.fin-est.n -text
dev/bidix/reliable.fin-est.vblex -text
dev/bidix/reliable.fin-est.vblex.checked -text
dev/bidix/unreliable.fin-est.adj -text
dev/bidix/unreliable.fin-est.adv -text
dev/bidix/unreliable.fin-est.n -text
dev/bidix/unreliable.fin-est.vblex -text
dev/est-eng.txt -text
dev/est-fin.awk -text
dev/est-fin.tsv -text
dev/punctuation.lexc -text
/est-fin.prob -text svneol=unset#unset
/fin-est.prob -text svneol=unset#unset
/modes.xml -text
texts/story.est.txt -text
texts/story.fin.txt -text
