* text=auto !eol
/ACKNOWLEDGEMENTS -text
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-fin-est.est-fin.lrx -text
/apertium-fin-est.est-fin.t1x -text
/apertium-fin-est.est-fin.t2x -text
/apertium-fin-est.est-fin.t3x -text
/apertium-fin-est.fin-est.dix -text
/apertium-fin-est.fin-est.lrx -text
/apertium-fin-est.fin-est.t1x -text
/apertium-fin-est.fin-est.t2x -text
/apertium-fin-est.fin-est.t3x -text
/autogen.sh -text
comp/comp.py -text
comp/eesti.mrf -text
comp/eesti.txt -text
comp/soome.biltr -text
comp/soome.dix -text
comp/soome.mrf -text
comp/soome.pchnk -text
comp/soome.tolge -text
comp/soome.txt -text
/configure.ac -text
dev/bidix-analyser.fin-est.txt -text
dev/bidix-sanity.sh -text
dev/bidix/reliable.fin-est.adj -text
dev/bidix/reliable.fin-est.adj.checked -text
dev/bidix/reliable.fin-est.adv -text
dev/bidix/reliable.fin-est.adv.checked -text
dev/bidix/reliable.fin-est.n -text
dev/bidix/reliable.fin-est.n.checked -text
dev/bidix/reliable.fin-est.vblex -text
dev/bidix/reliable.fin-est.vblex.checked -text
dev/bidix/unreliable.fin-est.adj -text
dev/bidix/unreliable.fin-est.adv -text
dev/bidix/unreliable.fin-est.n -text
dev/bidix/unreliable.fin-est.n.checked -text
dev/bidix/unreliable.fin-est.vblex -text
dev/bidix/unreliable.fin-est.vblex.checked -text
dev/est-eng.txt -text
dev/est-fin.awk -text
dev/est-fin.tsv -text
dev/punctuation.lexc -text
/est-fin.prob -text svneol=unset#unset
/fin-est.prob -text svneol=unset#unset
/modes.xml -text
/mult.py -text
/pending-tests.sh -text
texts/opik.est.txt -text
texts/opik.fin.txt -text
texts/opik_vead_kaebilt.xlsx -text
texts/story.est.txt -text
texts/story.fin.txt -text
/wiki-tests.sh -text
